* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

header {
    background-image: url(../assets/img/Top\ Nav.jpg);
    background-size: cover;
    max-width: 100%;
    padding: 20px;
}

header img {
    width: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

main {
    background-image: url('../assets/img/Background\ Main.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    background-position: center;
    padding: 20px;
}

h2,
h3 {
    margin-top: 20px;
}

footer {
    background-image: url(../assets/img/Top\ Nav.jpg);
    background-size: cover;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

footer img {
    width: 200px;
}

.fa-instagram,
.fa-envelope,
.fa-whatsapp {
    font-size: 24px;
}

.titulo-principal {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.enlace-catalogo {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.tarjetas-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.tarjeta {
    flex: 0 0 auto;
    width: 250px;
    height: 200px;
    margin-right: 20px;
    scroll-snap-align: start;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-image: url('../assets/img/grainesportada_1200x500.jpg');
    background-size: cover;
    background-position: center;
    font-size: 24px;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.tarjeta img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tarjeta .contenido {
    padding: 20px;
}

.tarjeta h3 {
    font-size: 50px;
    margin-bottom: 10px;
}

.tarjeta p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    main {
        padding-bottom: 100px;
        overflow: auto; 
    }
    .tarjetas-container {
        flex-direction: column; 
        align-items: center; 
    }
    .tarjeta {
        width: calc(100% - 40px); 
        margin: 0 auto 20px; 
    }
    
    .tarjeta {
        width: 50%;
        margin-bottom: 20px;
    }
    .grilla {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-auto-rows: minmax(0, 1fr);
    }
    main {
        grid-row: 2;
    }
}