body {
    background-image: url("../assets/img/backgroundmain.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff; /* Asegúrate de establecer el color de texto adecuado */
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
  }