main {
     
    h1, h2, h3 {
      margin-top: 20px;
      text-align: center;
    }
  
    .titulo-principal {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
  
    .enlace-catalogo {
      display: block;
      text-align: center;
      margin-top: 20px;
      font-size: 18px;
    }
  }